@model IEnumerable<VOTSDR.Data.NewsStory>
@using VOTSDR.Utils;

@{
    ViewBag.Title = "News Stories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>News Stories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Date
        </th>
        <th>
            Title
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.NewsStoryId }) |
            @Html.ActionLink("Details", "Details", new { id = item.NewsStoryId }) | 
            @Html.ActionLink("Delete", "Delete", new { id = item.NewsStoryId })
        </td>
        <td>
            @String.Format("{0:g}", item.Date)
        </td>
        <td>
            @item.Title
        </td>
    </tr>
}

</table>

