@model IEnumerable<VOTSDR.Web.Models.NewsOrEventViewModel>
@{
    ViewBag.Title = "Index";
    ViewBag.PageClass = "news";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head { }

<h2>News &amp; Events</h2>

@foreach (var item in Model)
{
  <div class="article-or-event">
    <a id="@item.Id"></a>
    <div class="date">@item.Date</div>
    <div class="title">@item.Title</div>
    if (@string.IsNullOrEmpty(item.Location))
    {
      <div class="location">@item.Location</div>
    }
    <div class="content">
      @Html.Partial("TextBlock", item.Summary)
    </div>
  </div>
}
