@using VOTSDR.Web.Models

@model IEnumerable<AdoptableDogViewModel>

@{
    ViewBag.Title = "Valley of the Sun - Adoptable Dogs";
    ViewBag.PageClass = "adoptable";
}

@section head
{
<style>
/*
p 
{
	display: block;
	clear: both;
}
*/
#gallery 
{
	position: relative;
	overflow: hidden;
	clear: both;
	background: #fffdc1;
	margin: 0 20px 50px 0;
	padding: 0 5px 5px 5px;
	width: 973px;
}
#gallery a
{
	float: left; 
	display: block;
	width: 225px; 
	height: 225px;
	max-height: 225px;
	max-width: 225px;
	overflow:hidden;
	border: 4px solid #9f282f;
	margin: 5px;
	background-color: #fff;
	position: relative;
    text-decoration: none;
    color: #fff;
}
#label-dotw
{
	font-size: 14pt;
	text-transform: uppercase;
	position: absolute;
	bottom: 0;
	right: 5px;
	font-weight: bold;
}
#gallery-anchor
{
	width: 0;
	height: 0;
	overflow: hidden;
	border: none;
}
#gallery img
{
	width: 225px; 
	height: 225px;
	background-color: #fff;
	border: none;
}
.link-gallery
{
	display: block;
	clear: both;
}
#list-profile
{
}
#list-profile a
{
}
#list-profile img
{
	max-width: 500px;
	max-height: 500px;
}

.profile
{
	border: 4px solid #fffdc1;
	padding: 0 20px 20px 20px;
	margin: 15px 0 30px 0;
	width: 940px;
	clear: both;
	overflow: hidden;
	background: transparent url(../Content/images/bg-content-blocks.jpg) repeat-x 0 -5px;
}
.profile h3
{
	margin: 10px 0;
	font-size: 16pt; 
}
.profile img
{
	float: left;
	margin: 0 20px 20px 0;
	border: 4px solid #fffdc1;
}

.profile p
{
	margin-bottom: 7px;
}

.adoptable h2
{
    padding: 5px 0 5px 10px;
    border-top: 3px solid #fffdc1;
    border-bottom: 3px solid #fffdc1;
    text-transform: uppercase;
    background: transparent url(../Content/images/bg-content-blocks.jpg) repeat-x 0 -5px;
    color: #9f282f;
    width: 974px;
    position: relative;
}

</style>
}

<a id="gallery-anchor" class="anchor"></a>


<h2>Available Dogs <span style="text-transform: uppercase; font-size: 11px; margin: 0 0 3px 0;position: absolute; right: 15px; bottom: 5px;">&nbsp;Click a photo to learn more!</span></h2>
<div id="gallery">
@foreach (var dog in Model)
{
  <a id="@dog.Id" href="#dog-@dog.Id">
    <img alt="@dog.Name" title="@dog.Name" src="@dog.ThumbnailUrl" />
    @if (dog.Featured)
    {
        <div id="label-dotw">Dog of the Week!</div>
    }
  </a>
}
</div>

<div id="list-profile">
@foreach (var dog in Model)
{
  <div class="profile">
      <a id="dog-@dog.Id"></a>
      @if (!string.IsNullOrEmpty(dog.Name))
      {
           <h3>&ldquo;@dog.Name&rdquo;
           @if (dog.Featured)
               { <span>&nbsp;is Dog of the Week!</span> } </h3>
      }
      else
      {
          <h3>&nbsp;</h3>
      }
      <img alt="@dog.Name" title="@dog.Name" src="@dog.ImageUrl" />
      <p><b>Age:</b> @dog.Age</p>
      <p><b>Breed:</b> @dog.Breed</p>
      @Html.Partial("TextBlock", dog.Profile)

      <a href="#gallery-anchor" class="link-gallery">Back to Gallery</a>
  </div>
}
</div>
