<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    @RenderSection("head")
</head>

<body>
        <div id="page" class="@ViewBag.PageClass">
		<div id="page-container">
			<div id="header">
				<div id="logo"></div>
				<div id="page-title">About Valley of the Sun Dog Rescue</div>
				<div id="header-top-nav">
					<ul>
						<li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "hnav-link-top", id = "hnav-link-home" })</li>
						<li>@Html.ActionLink("Adoptable Dogs", "Available", "Dog", null, new { @class = "hnav-link-top", id = "hnav-link-adoptable" })</li>
						<li>@Html.ActionLink("Happy Tails", "SuccessStories", "Dog", null, new { @class = "hnav-link-top", id = "hnav-link-stories" })</li>
						<li>@Html.ActionLink("How YOU Can Help", "HowToHelp", "Home", null, new { @class = "hnav-link-top", id = "hnav-link-howtohelp" })</li>
					</ul>
				</div>
				<div id="header-bottom-nav">
					<ul>
						<li>@Html.ActionLink("News / Events", "Index", "News", null, new { @class = "hnav-link-bottom", id = "hnav-link-news" })</li>
						<li>@Html.ActionLink("Education", "Education", "Home", null, new { @class = "hnav-link-bottom", id = "hnav-link-education" })</li>
						<li>@Html.ActionLink("Sponsors / Links", "SponsorsAndLinks", "Home", null, new { @class = "hnav-link-bottom", id = "hnav-link-sponsors" })</li>
						<li>@Html.ActionLink("Shop", "Shop", "Home", null, new { @class = "hnav-link-bottom", id = "hnav-link-shop" })</li>
						<li>@Html.ActionLink("Contact Us", "ContactUs", "Home", null, new { @class = "hnav-link-bottom", id = "hnav-link-contact" })</li>
					</ul>
				</div>
			</div>
			<div id="content-wrapper">
                <div id="content">
				@RenderBody()
                </div>
			</div>
			<div id="footer">
				<div id="footer-donations" class="footer-section">
					<a href="#" id="fst-donations">Donations Welcome!</a>
					<p>Your tax-deductible support for surgery, vet care and supplies is always appreciated.</p>
					<p>We accept donations through PayPal. <a id="link-paypal" href="#">Donate!</a><br/>
					Or, learn about more <a href="#" style="font-weight: bold">ways you can help</a>.</p>
				</div>
				<div id="footer-locations" class="footer-section">
					<a href="#" id="fst-locations">Adoption Times and Locations:</a>
					<div id="fs-location">
						<p><b>East Valley</b></p>
						<p><b><a href="#">PetSmart</a> <a href="#">Directions</a></b><br/>
						6932 E. Hampton Ave<br/>Mesa</p>
					</div>
					<div id="fs-times">
						<p><b>Times</b></p>
						<p>Saturdays and Sundays<br/>
						10:00am - 2:00pm</p>
					</div>
				</div>
				<div id="footer-dotw" class="footer-section">
					<a href="#" id="fst-dotw">Dog of the Week</a>
					<div id="fs-dotw-thumb">
						<a href="#">Pic goes here.</a>
					</div>
					<div id="fs-dotw-details">
						<div id="fs-dotw-details-name">Lucky</div>
						<div id="fs-dotw-details-breed">Pit-bull mix</div>
						<div id="fs-dotw-details-desc">Sweet, Loves Kids</div>
						<a id="fs-dotw-details-link" href="#">Learn more...</a>
					</div>
				</div>
				<div id="footer-nav">
					<div id="footerbkg"></div>
					<ul>
						<li>
              @Html.ActionLink(
                  "Home", "Index", "Home", null,
                  new { id = "fnav-link-home", @class = "fnav-link first" })
            </li>
						<li>
              @Html.ActionLink(
                  "Adoptable Dogs", "Available", "Dog", null,
                  new { id = "fnav-link-adoptable", @class = "fnav-link" })
            </li>
						<li>
              @Html.ActionLink(
                  "Happy Tails", "SuccessStories", "Dog", null,
                  new { id = "fnav-link-stories", @class = "fnav-link" })
            </li>
						<li>
              @Html.ActionLink(
                  "How YOU Can Help", "HowToHelp", "Home", null,
                  new { id = "fnav-link-howtohelp", @class = "fnav-link" })
            </li>
						<li>
              @Html.ActionLink(
                  "News / Events", "Index", "News", null,
                  new { id = "fnav-link-news", @class = "fnav-link" })
            </li>
						<li>
              @Html.ActionLink(
                  "Education", "Education", "Home", null,
                  new { id = "fnav-link-education", @class = "fnav-link" })
            </li>
						<li>
              @Html.ActionLink(
                  "Sponsors / Links", "SponsorsAndLinks", "Home", null,
                  new { id = "fnav-link-sponsors", @class = "fnav-link" })
            </li>
						<li>
              @Html.ActionLink(
                  "Shop", "Shop", "Home", null,
                  new { id = "fnav-link-shop", @class = "fnav-link" })
            </li>
						<li>
              @Html.ActionLink(
                  "Contact Us", "ContactUs", "Home", null,
                  new { id = "fnav-link-contact", @class = "fnav-link last" })
            </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
