@model VOTSDR.Data.Dog

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Edit", "Dogs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Dog</legend>

        @Html.HiddenFor(model => model.DogId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new { @class = "dog-edit-name" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Breed)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Breed, new { @class = "dog-edit-breed" })
            @Html.ValidationMessageFor(model => model.Breed)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Gender, new { @class = "dog-edit-gender" })
            @Html.ValidationMessageFor(model => model.Gender)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Profile)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Profile, new { @class = "edit-textarea" })
            @Html.ValidationMessageFor(model => model.Profile)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Birthday)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Birthday, new { @class = "edit-date" })
            @Html.ValidationMessageFor(model => model.Birthday)
        </div>

        <div class="editor-field">
            <span class="editor-label">
                @Html.LabelFor(model => model.Thumbnail)
            </span>
            <input type="file" id="dogThumbnail" name="dogThumbnail" />
            <img alt="@Model.Name" width="60px" height="60px" src="@Url.Action("Thumbnail", new { id = Model.DogId })" />
            @Html.ValidationMessageFor(model => model.Thumbnail)
        </div>

        <div class="editor-field">
            <span class="editor-label">
                @Html.LabelFor(model => model.Image)
            </span>
            <input type="file" id="dogImage" name="dogImage" />
            <img alt="@Model.Name" width="60px" height="60px" src="@Url.Action("Image", new { id = Model.DogId })" />
            @Html.ValidationMessageFor(model => model.Image)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateFeatured)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.DateFeatured, new { @class = "edit-date" })
            @Html.ValidationMessageFor(model => model.DateFeatured)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.AdoptedDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.AdoptedDate, new { @class = "edit-date" })
            @Html.ValidationMessageFor(model => model.AdoptedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdoptionStory)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.AdoptionStory, new { @class = "edit-textarea" })
            @Html.ValidationMessageFor(model => model.AdoptionStory)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

