@model IEnumerable<VOTSDR.Admin.Web.Models.DogList>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dogs</h2>

<div>
    <label style="font-weight: bold;">Now Viewing:&nbsp;</label>
    &nbsp;
    @ViewBag.viewType
    @switch ((String)ViewBag.viewType)
    {
        case "Adopted":
        @Html.ActionLink("View Available", "Index", new { ViewType = "Available", pageNumber = 1 });
                                                                                                  break;
        case "Available":
        @Html.ActionLink("View Adopted", "Index", new { ViewType = "Adopted", pageNumber = 1 });
                                                                                               break;

    }
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
        </th>
        <th>
            Name
        </th>
        <th>
            Gender
        </th>
        <th>
            Breed
        </th>
        <th>
            Birthday
        </th>
        <th>
            AdoptedDate
        </th>
        <th>
            Thumbnail
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DogId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DogId })
            </td>
            <td>@item.Name</td>
            <td>@item.Gender</td>
            <td>@item.Breed</td>
            <td>@String.Format("{0:g}", item.Birthday)</td>
            <td>@String.Format("{0:g}", item.AdoptedDate)</td>
            <td><img alt="@item.Name" width="60px" height="60px" src="@Url.Action("Thumbnail", new { id = item.DogId })" /></td>
            
        </tr>
    }
    <tr>
        <td colspan="7">
            Pages: 
            @for (int i = 1; i <= ViewBag.totalPages; i++)
            {
                @Html.ActionLink(i.ToString(), "Index", new { pageNumber = i, ViewType = (String)ViewBag.viewType }, new { style = (ViewBag.currentPage == i) ? "font-weight:bold;" : String.Empty });
                @Html.Raw("&nbsp;");
            }
        </td>
    </tr>
</table>
