@model IEnumerable<VOTSDR.Data.Dog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <input type="radio" id="Available" title="Available" />
    <input type="radio" id="Adopted" title="Adopted" />
</div>

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Gender
        </th>
        <th>
            Breed
        </th>
        <th>
            Profile
        </th>
        <th>
            Birthday
        </th>
        <th>
            AdoptedDate
        </th>
        <th>
            Thumbnail
        </th>
        <th>
            Image
        </th>
        <th>
            AdoptionStory
        </th>
        <th>
            DateFeatured
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DogId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DogId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DogId })
        </td>
        <td>
            @item.Name
        </td>
        <td>@item.Gender</td>
        <td>@item.Breed</td>
        <td>
            @item.Profile
        </td>
        <td>
            @String.Format("{0:g}", item.Birthday)
        </td>
        <td>
            @String.Format("{0:g}", item.AdoptedDate)
        </td>
        <td>
            <img alt="@item.Name" width="60px" height="60px" src="@Url.Action("Thumbnail", new { id=item.DogId })" />
        </td>
        <td>
            <img alt="@item.Name" width="60px" height="60px" src="@Url.Action("Image", new { id=item.DogId })" />
        </td>
        <td>
            @item.AdoptionStory
        </td>
        <td>
            @String.Format("{0:g}", item.DateFeatured)
        </td>
    </tr>
}

</table>

