@model VOTSDR.Web.Models.ContactUsViewModel

@{
    ViewBag.Title = "Contact Us";
    ViewBag.PageClass = "contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
<style type="text/css">
#contact
{
	width: 330px;
    padding: 0;
    background: transparent url(../Content/images/bg-content-blocks.jpg) repeat-x 0 -5px;
    padding: 15px;
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
#contact label
{
	text-align: right;
	margin: 0 10px 0 0;
	width: 115px;
	display: block;
	float: left;
}
#contact input, #contact textarea
{
	margin: 3px 0;
	width: 200px;
}

#contact .submit
{
	margin: 10px 0 0 248px;
	width: 80px;
}
#contact .streetaddress input
{
	height: 4em;
}
#contact .comments textarea
{
	width: 325px;
	height: 10em;
}
#contact .comments label
{
	text-align: left;
}
p.blurb
{
	margin-bottom: 7px;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
}
</style>
 }

<div class="section">
<p class="blurb">
  Follow us on 
  <a href="http://www.facebook.com/ValleyOfTheSunDogRescue" style="border:none; text-decoration: none; margin: 0 5px;" target="_blank"><img alt="facebook"  style="border:none;" src="@Url.Content("~/Content/images/facebooksmall.png")" /> Facebook</a>
  and <a href="http://twitter.com/azdogrescue"  style="border:none; text-decoration: none; margin: 0 5px;" target="_blank"><img alt="twitter" style="border:none;" src="@Url.Content("~/Content/images/twitterbirdsmall.png")" /> Twitter</a>!
</p>
<p class="blurb">
  Or contact us at <a href="mailto:@Model.WebMasterEmailAddress">@Model.WebMasterEmailAddress</a> directly in the form below.</p> 
  <p class="blurb">Please specify in “comments” as to what you are contacting us for to receive 
  a prompt response.</p>
  <p class="blurb"> Thank You.
</p>

    @using (Html.BeginForm())
    {
      <div id="contact">
          <div class="field">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
          </div>
          <div class="field">
            @Html.LabelFor(m => m.PhoneNumber)
            @Html.TextBoxFor(m => m.PhoneNumber)
          </div>
          <div class="field">
            @Html.LabelFor(m => m.EmailAddress)
            @Html.TextBoxFor(m => m.EmailAddress)
          </div>
          <div class="field streetaddress">
            @Html.LabelFor(m => m.StreetAddress)
            @Html.TextAreaFor(m => m.StreetAddress)
          </div>
          <div class="field comments">
            @Html.LabelFor(m => m.Comments)
            @Html.TextAreaFor(m => m.Comments)
            @Html.ValidationMessageFor(m => m.Comments)
          </div>
          <input class="submit" type="submit" value="Contact Us" name="SendContactUsMessage" />
      </div>
}
<div style="clear:both;"></div>
</div>