@using VOTSDR.Web.Models;
@using VOTSDR.Utils;

@model HomeIndexViewModel
         
@{ 
   ViewBag.Title = "Valley of the Sun Dog Rescue";
   ViewBag.PageClass = "home";
}

@section head {
  <style type="text/css">
    .two-column 
    {
        position: relative;
    }
    
    .news-and-events
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        margin-right: 20px;
    }
    
    .article
    {
        margin-bottom: 1em;
    }
    
    .main-content
    {
        margin-left: 270px;
    }
    
    .features
    {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .features div
    {
        width: 300px;
        float: left;
        padding: 20px;
    }
    
    .post-features-content
    {
        clear: both;
    }
  </style>
}

<h2>About Us</h2>
<p>
  Valley of the Sun Dog Rescue is a no-kill animal shelter and has been a 
  registered 501(c)3 non-profit organization since the year 2000. We specialize
  in American Pitbulls and American Staffordshire Terriers, but we accept all
  breeds into our rescue. 
</p>
<p>
  We are headquartered and operated from our home. We are a family run 
  organization with the help of foster care providers and volunteers. With this 
  great working staff we rescue all breeds of dogs that are ill, injured, 
  maimed, abandoned or simply unwanted. Our dogs are obtained from the various 
  animal shelters in the area, as well as those animals given up by private 
  citizens.
</p>

<div class="two-column">

  <div class="news-and-events">
    @foreach (var item in Model.NewsAndEvents)
    {
      <div class="article">
        @Html.ActionLink(
          item.Title,
          "Index", "News",
          new { ArticleId = item.Id },
          new { @class = "title" } )
        <div class="date">@item.Date</div>
        <div class="summary">@item.Summary</div>
        @Html.ActionLink(
          "More Info...",
          "Index", "News",
          new { ArticleId = item.Id },
          new { @class = "more" } )
      </div>
    }
  </div>

  <div class="main-content">
    
    <div class="features">
      <div class="featured-dog">
        <h3>Dog of the Week</h3>
        <img src="@Model.FeaturedDogThumbnailUrl" alt="@Model.FeaturedDogName" />
        <div class="profile">
          @Model.FeaturedDogProfile.Summarize()
        </div>
        @Html.ActionLink(
          "See more...", "Available", "Dog", 
          new { id=Model.FeaturedDogId }, null)
      </div>

      <div class="special-need">
        <h3>Special Needs</h3>
        <img src="@Model.SpecialNeedThumbnailUrl" alt="Special Need" />
        <div class="description">
          @Html.Partial("TextBlock", Model.SpecialNeedDescription)
        </div>
      </div>
    </div>

    <div class="post-features-content">
      <h3>Our Adoption Process</h3>
      <p>
        We hold adoption clinics weekly at various PetSmart pet centers in the 
        area. Although we specialize in American Pitbull and American 
        Staffordshire Terriers, all dog breeds in need are accepted with open 
        arms, treated and evaluated as necessary and adopted to private homes. 
        Our prospective adopters are required to fill out an in depth adoption 
        contract, submit to home checks for a period of one year, as well as pay 
        an adoption fee for the animal. Additionally, there are monetary 
        penalties that must be agreed to for any mistreatment of the adopted 
        animal. We also reserve the right to reclaim the animal in the event of 
        mistreatment. Further, we reserve the right to pursue any individuals for
        mistreatment or neglect of the adopted animal through the court system or
        law enforcement agencies. All of the above must be read, intialed and the
        entire document signed frior to any adoption. We also have additional and
        specific requirements of the prospective adopters and their families to 
        adopt a “bully” breed that must be met.
      </p>

      <h3>Our Mission Statement</h3>
      <p>
        Our mission is to rescue abandoned, injured or abused dogs, 
        rehabilitate them, have them vaccinated, spay or neutered and help them
        find their forever home.  We also strive to increase public awareness
        about the gentler, humane side of a "Bully" breed. 
      </p>
    </div>
  </div>
</div>
