@model VOTSDR.Data.Event

<fieldset>
    <legend>Event</legend>

    <div class="event-datecreated">Created on: @Model.DateCreated </div>

    <div class="event-date">@Model.Date</div>
    
    <div class="event-name">@Model.Name</div>

    <div class="event-location">@Model.Location</div>
    
    <div class="event-description">@Model.Description</div>

</fieldset>


