@model IEnumerable<VOTSDR.Data.Event>

@{
    ViewBag.Title = "Event List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Event List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Date
        </th>
        <th>
            Location
        </th>
        <th>
            Name
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventId })
        </td>
        <td>
            @item.Date
        </td>
        <td>
            @item.Location
        </td>
        <td>
            @item.Name
        </td>
    </tr>
}

</table>

